/* components/FormModalContent.module.css */
.formWrap {
    flex-direction: column;
    align-items: center;
}

.formTitle {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
}

.formSubtitle {

    font-size: 13px;
    color: #4B5675;
    margin-bottom: 24px;
    text-align: center;
}

.formGroup {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modalLabel {
    margin-bottom: 6px;
    font-weight: 400;
    color: #071437;
    font-size: 13px;
}

.formGroup input {
    padding: 10px 12px;
    font-size: 13px;
    border: 1px solid #dbdfe9;
    border-radius: 6px;
    outline: none;
}

.formGroup input:focus {
    border-color: #ff9966;
    box-shadow: 0 0 2px #ff5500;
}

/* Стили для «Заявка отправлена» */
.successWrap {
    text-align: center;
    padding: 20px;
}

.successImage {
    margin-bottom: 16px;
}

.successTitle {
    font-size: 24px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 600;
}

.successSubtitle {
    font-size: 13px;
    color: #4B5675;
    line-height: 20px;
}