.cart-page .boxcar-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
}

.cart-title {
  margin-top: 20px;
  margin-bottom: 40px;
}

.cart-title h2 {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
